
<div class="container">
  <div class="col-md-6 col-md-offset-3">
  <form [formGroup] = "loginform" (ngSubmit) = "login()" class="form-signin">
      <h2>Login</h2>    
      <label for="username" class="sr-only">Username</label>
      <input type="text" formControlName = "username" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" formControlName = "password" name="password" id="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      <a [routerLink]="['/signup']" class="btn btn-link">Register</a>

      <div *ngIf = "invalid" class="alert alert-danger">
      Invalid username or password		
	</div>
  </form>
</div>
</div>



<!--
<div class="container">	
  <form [formGroup] = "loginform" (ngSubmit) = "login()" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>    
    <label for="username" class="sr-only">Username</label>
    <input type="text" formControlName = "username" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" formControlName = "password" name="password" id="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p style="text-align: center;">Don't Have An Account? <a routerLink="/signup">Sign Up</a></p>
    <div *ngIf = "invalid" class="alert alert-danger">
	 	Invalid username ar password		
	</div>
  </form>

</div>

-->