<app-create-message (addMessage)="optimisticAdd($event)" (addMessagePs)= "pasemisticAdd()"></app-create-message>

<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 ">
	<h1>System Feed</h1>
    <div class="panel panel-default progress-meter">    	
		<div class="bs-callout bs-callout-danger progress-meter" *ngFor = "let key of messagesKeys">
			<table>
				<tr>
					<td style="width: 120px;">
						<a routerLink="/show-user/{{messages[key].user_id}}"><img src="{{messages[key].image}}" alt="Avatar" style="max-width: 100px;"/></a><br>
						<a routerLink="/show-user/{{messages[key].user_id}}">{{messages[key].user_id}}</a>
					</td>
					<td>
						<h4 style="color: rgb(0, 174, 255);">{{messages[key].title}}  <span style="color: green;font-size: 14px;">({{messages[key].created_at.date | date}})</span></h4>
						
						<p>
					     {{messages[key].body}}
						</p>
						        
					    <button style="float:right;" *ngIf="!messages[key].liked" class="btn btn-primary" (click)="like(key)"><i class="far fa-star"></i>  Give star! ({{messages[key].count}})</button>			
					    <button style="float:right;" *ngIf="messages[key].liked" class="btn btn-danger" (click)="dislike(messages[key].ident, key)"><i class="fas fa-star"></i>  Take star ({{messages[key].count}})</button>			
					</td>
				</tr>	
			</table>		    
		</div>
	</div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>