<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4fJP5JmedsRywyR_sauJAADOOOkTMWFPbrGLQtX9DJbOMyDsx" alt="logo" class="logo" />
    </div>
    <ul class="nav navbar-nav">
        
      <li><a  class="nav-link"routerLink="/" routerLinkActive="active">Another OMG project</a></li>
      <li><a class="nav-link" routerLink="/feed"><i class="far fa-envelope"></i>  Messages</a> </li>      
    </ul>
    <div *ngIf="show; else signup" class="buttons">
      <ul class="nav navbar-nav"> 
      <li >  <a class="nav-link" routerLink="/users"><i class="fas fa-cog fa-spin"></i>  My Account </a></li>
      </ul>
        &nbsp;&nbsp;&nbsp;
        <button class= "btn btn-warning" (click)= "logout()">Logout</button>
    </div>
    <ng-template #signup><div class="buttons"><button class= "btn btn-primary" routerLink="/signup">Signup</button></div></ng-template>
  </div>
</nav>