<div class="col-xs-12 col-sm-4 col-md-offset-1 col-md-4 col-lg-offset-2 col-lg-12">	
  <form [formGroup] = "msgform" (ngSubmit) = "sendData()" class="col-xs-12 col-sm-4 col-md-offset-1 col-md-4 col-lg-offset-2 col-lg-4">
    <h2 class="form-signin-heading">What's on your mind?</h2>    
    <label for="title" class="sr-only">Title</label>
    <input type="text" formControlName = "title" name="title" id="title" class="form-control" placeholder="Title" required autofocus>
    <div *ngIf="msgform.get('title').touched && msgform.get('title').invalid" class="alert alert-danger">
        We really need a title for your idea..
    </div>   
    <br />
    <label for="body" class="sr-only">body</label>
    <textarea formControlName = "body" class="form-control" placeholder="Body" required></textarea>    
    <div *ngIf="msgform.get('body').touched && msgform.get('body').invalid" class="alert alert-danger">
        Sorry, we didn't understand. We need you to explain yourself...
    </div>
    <br />
    <input type="hidden" formControlName = "user_id" value="{{ user_id }}" [(ngModel)]="user_id">
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="msgform.invalid">Publish your brilliant idea!</button>    
  </form>
</div>
<br />